
$secondary: #90b4ce;
$tertiary: #ef4565;
$headline: #094067;
$background: #fffffe;
$button: #3da9fc;
$button-text: #fffffe;
$paragraph: #5f6c7b;

*{
    font-family: Arial, Helvetica, sans-serif;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
body{
    background: rgb(201,212,255);
    background: radial-gradient(circle, rgb(220, 225, 255) 0%, rgba(255,255,255,1) 100%);
}
.container{
    height: 97.8vh;
    @include flex-center;
}
 

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.stepper-content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stepper{
    width: 60%;
    color: $paragraph;
    background: $background;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    height: 60%;
}

.step{
    font-size: 18px;
    line-height: 1.9rem;
    padding: 10px 3rem;
    text-align: center;
    margin-top: 14px;
}
.btns{
    text-align: center;
}
.next,.previous,.start{
        padding: 8px;
        font-size: 17px;
        width: 10rem;
        background: $button;
        color: $button-text;
        border: none;
        border-radius: 2rem;
        &:hover{
            background: $headline;
            transition: .5s
        }
}
.start{
    background: $tertiary;
}
.hide{
    display: none;
}
.color{
    color: $button;
}
.color3{
    background: $tertiary;
}
#input-username{
    &:focus{
        outline-color: $secondary;
    }
    padding: 10px;
    border: 1px solid $secondary;
    border-radius: 12px;
    width: 50%;
}

.quetionnaire{
    background: $background;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.reponses{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "reponse1 reponse2"
                         "reponse3 reponse4";
    gap: 6px;
    height: 100%;
}


@for $i from 1 through 4{
    .reponse#{$i}{
        grid-area: reponse#{$i};
        background-color: #094067;
        @include flex-center;
        cursor: pointer;
        font-size: 16px;
        padding: 12px;
        color: white;
        border: none;
        &:hover{
            background-color: $button;
        }
    }
}
    
input[type="radio"]{
    display: none;
}
.btns-question{
    width: 100%;
    justify-self: end;
}
.progressBar{
    margin-top: -10px;
    height: 10px;
    width: 0%;
    background-color: #094067;
}
.correction-container{
    height: 100%;
    width: 100%;
    margin: 0px;
}
.correction{
    text-align: start;
    padding: 6px;
    margin-top: 4px;
    background-color: #90b4ce;
    border-radius: 0px 10px 10px 0px;
    color: white;
    border-left: 6px solid greenyellow;
    font-size: 15px;
}
.qst-corr{
    text-align: start;
    font-size: 13px;
    font-weight: bold;
    margin: 12px 0 -4px 0;
}
.faux{
    border-left: 6px solid crimson;
}

@media screen and (max-width: 800px) {
    .stepper{
        width: 100%;
        height: 100%;
        padding: 2px;
    }
    .step:nth-child(-n + 3){
        padding: 6px;
        text-align: start;
    }
    ul{
        justify-content: space-between;
        li{
            margin-left: -25px;
        }
    }
    
}
@media screen and (max-width: 400px){

}