* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(201, 212, 255);
  background: radial-gradient(circle, rgb(220, 225, 255) 0%, rgb(255, 255, 255) 100%);
}

.container {
  height: 97.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.stepper-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stepper {
  width: 60%;
  color: #5f6c7b;
  background: #fffffe;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  height: 60%;
}

.step {
  font-size: 18px;
  line-height: 1.9rem;
  padding: 10px 3rem;
  text-align: center;
  margin-top: 14px;
}

.btns {
  text-align: center;
}

.next, .previous, .start {
  padding: 8px;
  font-size: 17px;
  width: 10rem;
  background: #3da9fc;
  color: #fffffe;
  border: none;
  border-radius: 2rem;
}
.next:hover, .previous:hover, .start:hover {
  background: #094067;
  transition: 0.5s;
}

.start {
  background: #ef4565;
}

.hide {
  display: none;
}

.color {
  color: #3da9fc;
}

.color3 {
  background: #ef4565;
}

#input-username {
  padding: 10px;
  border: 1px solid #90b4ce;
  border-radius: 12px;
  width: 50%;
}
#input-username:focus {
  outline-color: #90b4ce;
}

.quetionnaire {
  background: #fffffe;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.reponses {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "reponse1 reponse2" "reponse3 reponse4";
  gap: 6px;
  height: 100%;
}

.reponse1 {
  grid-area: reponse1;
  background-color: #094067;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  color: white;
  border: none;
}
.reponse1:hover {
  background-color: #3da9fc;
}

.reponse2 {
  grid-area: reponse2;
  background-color: #094067;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  color: white;
  border: none;
}
.reponse2:hover {
  background-color: #3da9fc;
}

.reponse3 {
  grid-area: reponse3;
  background-color: #094067;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  color: white;
  border: none;
}
.reponse3:hover {
  background-color: #3da9fc;
}

.reponse4 {
  grid-area: reponse4;
  background-color: #094067;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  color: white;
  border: none;
}
.reponse4:hover {
  background-color: #3da9fc;
}

input[type=radio] {
  display: none;
}

.btns-question {
  width: 100%;
  justify-self: end;
}

.progressBar {
  margin-top: -10px;
  height: 10px;
  width: 0%;
  background-color: #094067;
}

.correction-container {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.correction {
  text-align: start;
  padding: 6px;
  margin-top: 4px;
  background-color: #90b4ce;
  border-radius: 0px 10px 10px 0px;
  color: white;
  border-left: 6px solid greenyellow;
  font-size: 15px;
}

.qst-corr {
  text-align: start;
  font-size: 13px;
  font-weight: bold;
  margin: 12px 0 -4px 0;
}

.faux {
  border-left: 6px solid crimson;
}/*# sourceMappingURL=main.css.map */